* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --toastedWhite: #f4f1ea;
    --latteCreme: #edd6c0;
    --coffeeBrown: #998373;
    --poppins: 'Poppins', sans-serif;
}

body {
    background-color: var(--latteCreme);
    font-family: var(--poppins);
    display: grid;
    grid-template-rows: 96px 1fr 96px;
    min-height: 100vh;
}

/* Header container */
.header-container {
    background-color: var(--toastedWhite);
    box-shadow: 0 1px 4px gray;
    font-weight: bold;
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.logo {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.greeting {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 6px;
    width: max-content;
}

/* Footer container */
.footer-container {
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.copyright {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

/* Content container */
.content-container {
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.content {
    display: grid;
    grid-template-rows: 128px 1fr;
}

.button-container {
    display: grid;
    align-content: center;
    justify-content: center;
}

.add-book {
    background-color: var(--latteCreme);
    border: 1px solid var(--latteCreme);
    border-radius: 8px;
    font-family: var(--poppins);
    font-size: 1.5rem;
    font-weight: bold;
    outline: none !important;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 16px;
}

.add-book:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0);
}

/* Library and cards */
.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 64px;
    height: max-content;
}

.card {
    font-size: 1.5rem;
    background-color: var(--toastedWhite);
    border-radius: 8px;
    box-shadow: 1px 1px 4px gray;
    display: grid;
    gap: 16px;
    padding: 16px;
}

.title,
.author,
.pages {
    justify-self: center;
}

button {
    transition: background-color 0.2s;
}

button:focus,
input:focus {    
    outline: 1px solid black;
}

.read-button,
.remove-book-button {
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 12px 0;
}

.read-button.is-read,
.modal-button {
    background-color: rgb(150, 255, 150);
    border: 1px solid rgb(150, 255, 150);
}

.read-button.is-read:hover,
.modal-button:hover {
    background-color: rgb(135, 230, 135);
    border: 1px solid rgb(135, 230, 135);
}

.read-button.not-read {
    background-color: rgb(255, 150, 150);
    border: 1px solid rgb(255, 150, 150);
}

.read-button.not-read:hover {
    background-color: rgb(235, 139, 139);
    border: 1px solid rgb(235, 139, 139);
}

.remove-book-button {
    background-color: var(--coffeeBrown);
    border: 1px solid var(--coffeeBrown);
}

.remove-book-button:hover {
    background-color: #867264;
    border: 1px solid #867264;
}

/* Modal dialog */
dialog {
    background-color: var(--toastedWhite);
    border: 1px solid var(--toastedWhite);
    border-radius: 8px;
    box-shadow: 1px 1px 4px black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-form {
    display: grid;
    gap: 24px;
    padding: 24px;
}

.modal-header {
    font-size: 1.25rem;
    font-weight: bold;
    justify-self: center;
}

.modal-form input {
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-family: var(--poppins);
    font-size: 1.1rem;
    padding: 8px 16px;
    width: 100%;
}

.modal-checkbox {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 12px;
}

.modal-button {
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 12px 0;
}