* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --toastedWhite: #f4f1ea;
    --latteCreme: #edd6c0;
    --coffeeBrown: #998373;
    --poppins: 'Poppins', sans-serif;
}

body {
    background-color: var(--latteCreme);
    font-family: var(--poppins);
    display: grid;
    grid-template-rows: 96px 1fr 96px;
    min-height: 100vh;
}

/* Header container */
.header-container {
    background-color: var(--toastedWhite);
    font-weight: bold;
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.logo {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.greeting {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 6px;
    width: max-content;
}

/* Footer container */
.footer-container {
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

/* Content container */
.content-container {
    display: grid;
    grid-template-columns: min(1200px, 100%);
    justify-content: center;
    padding: 0 24px;
}

.content {
    display: grid;
    grid-template-rows: 128px 1fr;
}

.button-container {
    display: grid;
    align-content: center;
    justify-content: center;
}

.add-book {
    background-color: var(--toastedWhite);
    border-radius: 8px;
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 24px;
}

/* Library and cards */
.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64px;
    height: max-content;
}

.card {
    background-color: var(--toastedWhite);
    border-radius: 8px;
    display: grid;
    gap: 12px;
    padding: 12px;
}

.read,
.remove-book {
    border-radius: 8px;
}

.read {
    background-color: lightgreen;
}

.remove-book {
    background-color: var(--coffeeBrown);
}

/* Modal dialog */
body {
    position: relative;
}

dialog {
    border-radius: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 24px;
}

dialog > form {
    display: grid;
    gap: 24px;
}